
.Input{
    position: absolute;
    left: 46.11%;
    right: 17.71%;
    top: 22.36%;
    bottom: 72.95%;
    border: 1px solid black;
    background: #a77c7c;
    border-radius: 8px;
    
    

        
}



