p{
  position: absolute;
  width: 249px;
  height: 23px;
  left: 664px;
  top: 317px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;

  color: #0085FF;
}

TaskStatus{
  position: absolute;
width: 50px;
height: 16px;
left: 722px;
top: 401px;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;

color: #FFFFFF;
}

Button{
  position: static;
width: 107px;
height: 21px;
left: 24px;
top: 8px;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #FFFFFF;
}

Input{
  position: absolute;
  width: 205px;
  height: 21px;
  left: 683px;
  top: 242px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
/* identical to box height */


color: #000000;

}

ListItem {
  position: absolute;
width: 244px;
height: 21px;
left: 690px;
top: 431px;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #020202;
}